#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	-rm --verbose debian/cupscloudprint/usr/share/cloudprint-cups/README.md
	-rm --verbose debian/cupscloudprint/usr/share/cloudprint-cups/COPYING
	-rmdir --verbose debian/cupscloudprint/usr/share/cups/model
	-rmdir --verbose debian/cupscloudprint/usr/share/cups
